<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag 'login' %></p>
<% end %>
<%= form_tag('#', multipart: true) do %>
  <%= label_tag "public key" %>
  <%= file_field_tag 'pub_key' %>
  <%= hidden_field_tag 'key' %>
<% end %>

<script>
  document.getElementById('pub_key').addEventListener('change', readPubKey, false);
  var file, pub_key, reader, worker = new Worker("readPubKey.js");

  function readPubKey () {
    file = this.files[0];
    reader = new FileReader();
    reader.readAsText(file, "UTF-8");
    reader.onload = function (evt) {
      pub_key = evt.target.result;
      // use here to encrypt if it is the private key
      // if it is the pub send it with the form
      document.getElementById('key').setAttribute('data', evt.target.result);
    }
    reader.onerror = function (evt) {
      pub_key = "error";
    }
  }

  function readPubKey1 () {
    file = this.files[0];
    worker.onmessage = function (e, pub_key) {
      console.log(e.data.result);
    }
    worker.postMessage(file);
  }
</script>
