if(!$('#tab_elements_show_<%= element.id %>').length){
  $('#tabs').append('<div id="tab_elements_show_<%= element.id %>" class="tab"><div class="tab_before"></div><%= element.name %><div class="tab_after"></div></div>');
  $('#tabs_contents').append('<%= escape_javascript( render "show", :element => element ) %>');
  $("#tab_elements_show_<%= element.id %>").click(function(){switch_tab("elements_show_<%= element.id %>")});
};
switch_tab("elements_show_<%= element.id %>");
$('.element_delete').bind("ajax:success", function(xhr, data, status) {
  $("#element_" + data.id).remove();
  tab = $('#tab_elements_show_' + data.id);
  tab_content = $('#tab_content_elements_show_' + data.id)
  $('#tab_elements_list').removeClass('inactive');
  $('#tab_elements_list').addClass('active');
  $('#tab_content_elements_list').removeClass('inactive');
  $('#tab_content_elements_list').addClass('active');
  if(tab){
    tab.remove();
  };
  if(tab_content){
    tab_content.remove();
  }
});


