if($('#element_<%= element.id %>').length){
  $('#element_<%= element.id %>').replaceWith('<%= escape_javascript(render "elements/element", :element => element) %>');
}else{
  $('#elements').append('<%= escape_javascript(render "elements/element", :element => element) %>');
}
if($('#tab_content_elements_show_<%= element.id %>').length){
  $('#tab_content_elements_show_<%= element.id %>').replaceWith('<%= escape_javascript(render "elements/show", :element => element) %>');
}
if($('#tab_elements_show_<%= element.id %>').length){
  $('#tab_elements_show_<%= element.id %>').html('<div class="tab_before"></div><%= element.name %><div class="tab_after"></div>');
}
$('#overlay').hide();
$('#form_new_element').hide();
